main {
    display: flex;
    justify-content: space-between;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #253557;
    height: 76px;
    padding: 0 20px;
}

.logo {
    height: 76px;
}

.search {
    flex: 1;
    margin: 0 20px;
}

.main-nav a {
    color: #74dbef;
    margin-left: 20px;
    text-decoration: none;
}

.left-column, .right-column {
    background-color: #253557;
    color: #74dbef;
    width: 240px;
    padding: 20px;
    box-sizing: border-box;
}

.left-column nav a, .right-column nav a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #74dbef;
}

.content-wrapper {
    min-height: calc(91% - 60px); /**91% para que el footer quede justo en la parte inferior*/
    padding-bottom: 60px; 
}

footer {
    background-color: #253557;
    color: #74dbef;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator input {
    grid-column: span 4;
    padding: 10px;
    font-size: 20px;
}

.calculator button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #253557;
    color: #74dbef;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #344b7b;
}